.project {
    max-width: 1500px;
    width: 100%;
    padding-top: 750px;
    margin: 0 auto;

    .project_title {
        width: 90%;
        margin: 0 auto;

        .project_title_desc h1 {
            text-align: center;
            color: #000;
            font-family: Inter;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
        }
    }
}
@media(max-width:423px){
    .project{
        padding-top: 350px !important   ;
    }
    .project_title_desc{
        h1{
            font-size: 25px !important;
        }
    }
}