.container{
    position: relative;
    max-width: 1440px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto !important;
    padding-top: 100px;
    height: 100vh;
    .delivery{
        width: 70%;
        margin: 0 auto;
        .delivery_title{
            .delivery_title_pay{
                padding-top: 85px;
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 12px;
                }
            }
            .delivery_title_desc{
                p{
                    color: black;
                    font-size: 12px;
                }
            }
            h1{
                font-size: 20px;
            }
        }
    }
}