@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Merriweather:wght@300&family=Playfair+Display&display=swap");
body {
  padding: 0;
  margin: 0 auto;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Cormorant Garamond", serif !important;
  font-family: "Merriweather", serif !important;
  font-family: "Playfair Display", serif !important;
}
p {
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ant-dropdown-menu {
  width: 145px;
  background-color: #fff !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25) !important;
  border-radius: 4px !important;
}

.ant-dropdown-menu-item {
  padding: 6px 5px !important;
}

.ant-dropdown-menu-title-content > a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

.ant-dropdown-menu {
  width: 145px;
  background-color: #fff !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25) !important;
  border-radius: 4px !important;
}

.ant-dropdown-menu-item {
  padding: 6px 5px !important;
}

.ant-dropdown-menu-title-content > a {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style: none;
}

.ant-modal-content {
  padding: 5px 24px !important;
}

.ant-message-notice-content {
  /* margin-top: 120px; */
  /* height: 100px; */
}

.ant-message-notice-content > span {
  font-size: 13px !important;
}

.ant-message-custom-content > span {
  font-size: 19px;
  font-family: "Lato", sans-serif;
  /* color: green; */
}

@media screen and (max-width: 950px) {
  .ant-dropdown-menu {
    width: 195px !important;
    padding: 0 10px 5px 55px !important;
  }
  .ant-dropdown-menu-title-content > a {
    font-size: 20px;
    font-weight: 600;
  }
}
