.slider {
    height: 400px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .swider {
    width: 235px;
    cursor: pointer;
    height: 300px;
    flex-shrink: 0;
    background: #ffffff;
    box-shadow: 12px 12px 12px 0px rgba(0, 0, 0, 0.25);
  }
  .swider_title {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .swider_title h3{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  @media(max-width:905px){
    .swider{
      width: 200px;
    }
  }
  @media(max-width:721px){
    .swider_title img{
      width: 140px !important;
      height: 150px;
    }
    .swider_title h3{
      font-size: 18px !important; 
    }
  }
  @media(max-width:413px){
    .sider{
      height: 200px !important;
      padding-left: 200px;
      margin-top: 30px !important;
      align-items: center !important;
      text-align: center !important;
    }
    .swider{
      padding-top: 15px;
    }
  }