.categories_section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  min-height: 800px;
  &__back_btn {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 8px;
    max-width: 130px;
    cursor: pointer;
    p {
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}


@media screen and (max-width: 1440px) {
  .categories_section{
    padding: 0 1% 0 1%;
  }
}


@media screen and (max-width: 425px) {
  .categories_section{
    padding: 0 2% 0 2%;
  }
}
