.application_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  h1 {
    font-size: 28px;
    font-weight: 600;
    // line-height: 4rem;
    letter-spacing: 0em;
    text-align: center;
    color: #09a56d;
  }
  &__profile {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
    }
    h4 {
      max-width: 350px;
      padding-left: 1.25rem;
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
    }
  }
  textarea {
    height: 111px !important;
    color: #a2a2a2;
    font-size: 15px;
    // line-height: 2rem;
    font-weight: 600;
    border: 2px solid #09a56d;

    margin-top: 35px;
    max-width: 488px;
  }
  input {
    max-width: 488px;
    margin-top: 10px;
    border: 2px solid #09a56d;
  }
  textarea::placeholder {
    color: #a2a2a2;
  }
  input::placeholder {
    color: #a2a2a2;
  }
  button {
    width: 300px;
    height: 47px;
    cursor: pointer;
    border: none;
    background: #09a56d;
    color: #ffffff;
    transition: 0.3s;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
    border-radius: 10px;
  }
  button:hover {
    color: #09a56d;
    border: 1px solid #09a56d;
    background: none;
    transform: scale(1.01);
  }
}

@media screen and (max-width: 450px) {
  .application_modal {
    .application_modal__profile {
      flex-direction: column;
    }
    button{
      max-width: 250px;
      height: 55px;
    }
  }
}
