.adversting {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;

    .title {
        width: 90%;
        margin: 0 auto;

        .title_head {
            text-align: center;

            h1 {
                color: #000;
                font-family: Inter;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        .title_card {
            margin-top: 100px;
            display: flex;
            justify-content: space-between;

            .card_one {
                max-width: 500px;
                width: 100%;
                text-align: center;
                align-items: center;

                .card_one_img {
                    width: 480px;
                    height: 365px;
                }

                .card_one_desc {
                    align-items: center;
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }

            .card_second {
                max-width: 500px;
                width: 100%;
                text-align: center;
                align-items: center;

                .card_second_img {
                    width: 480px;
                    height: 365px;
                }

                .card_second_desc {
                    align-items: center;
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
        }
    }
}

@media(max-width:1115px) {
    .card_one_desc {
        width: 85% !important;
    }

    .card_one_img {
        width: 450px !important;
        height: 345px !important;
    }

    .card_second_img {
        width: 450px !important;
        height: 345px !important;
    }
}

@media(max-width:969px) {
    .card_one_img {
        width: 400px !important;
        height: 300px !important;
    }

    .card_second_img {
        width: 400px !important;
        height: 300px !important;
    }
}

@media(max-width:890px) {
    .card_one_desc{
        width: 80% !important;
        p{
            font-size: 12px !important;
            margin-left: -50px;
        }
    }
    .card_second_desc{
        width: 80% !important;
        p{
            font-size: 12px !important;
            margin-left: -50px;
        }
    }
    .card_second_img {
        height: 250px !important;
        width: 350px !important;
    }
    .card_one_img{
        height: 250px !important;
        width: 350px !important;
    }
}
@media(max-width:790px){
    .card_one_desc{
        p{
            margin-left:-10px !important;
        }
    }
    .card_second_desc{
        p{
            margin-left: -10px !important;
        }
    }
}
@media(max-width:768px){
    .title_card{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
@media(max-width:423px){
    .adversting{
        padding-top: 100px;
    }
    .title_head{
        h1{
            font-size: 25px !important  ;
        }
        }
        .title_card{
            gap: 50px;
            .card_one{
                .card_one_img{
                }
            }
        }
}