.blog{
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto !important;
    .blog_title{
        h1{
            color: #086241;
        }
        .blog_btn{
            height: 100px;
            padding-top: 30px;
            display: flex;
            justify-content: center ;
            button{
                cursor: pointer;
                width: 200px;
                height: 50px;
                font-size: 18px;
                color: #086241;
                border: solid 2px #086241;
                border-radius: 10px;
                background-color: #ffffff;
                transition: 0.5s;
            }
            button:hover{
                border: none;
                background-color: #086241;
                color: #ffffff;
            }
        }
        width: 90%;
        margin: 0 auto;
        .blog_desc{
            img{
                object-fit: cover;
            }
            display:flex;
            justify-content: center;
            gap: 10px;
            flex-wrap: wrap;
        }
    }
}